body{
   
    text-align: center;
}
.principal{
    background-color:#b1ffb1  ;
    padding:30px;
}

h1{
    font-size:40px;
    color: black;
}

p{
    color: black;
    font-size: 25px;
}

#imagem1{
    width: 100%;
    border: 2px solid black;
}
.itens{
    font-style: italic;
    font-size: 25px;

}

.beneficios{

    background-color: white;
    text-align:center;
    font-size: 25px;
}

ul{
    display:inline-block;
    vertical-align: top;
    margin:3%;
    list-style:circle;
    text-align:center;
    width:20%;
    margin-right:15%;
}
